@page
@using Elwark.Static.Client.Abstraction
@using Elwark.Static.Client.Model
@model IndexModel

@{
    ViewData["Title"] = "White list";
}

<div class="container-fluid">

    <img src="@Model.Image.GetRandom().Path"/>
    
    <img src="@Model.Image.GetRandom(ImageResolution.Vga, ImageOrientation.Landscape).Path"/>
    <img src="@Model.Image.GetRandom(ImageResolution.Vga, ImageOrientation.Portrait).Path"/>
    
    <img src="@Model.Image.GetRandom(600, 800).Path"/>
    <img src="@Model.Image.GetRandom(1280, 720).Path"/>

    <div class="row">
        <div class="col-6">
            <h6>Passwords</h6>
            <ol>
                @foreach (var password in Model.Passwords)
                {
                    <li>@password</li>
                }
            </ol>
        </div>
        <div class="col-6">
            <h6>Emails</h6>
            <ol>
                @foreach (var email in Model.Emails)
                {
                    <li>@email</li>
                }
            </ol>
        </div>
    </div>
</div>